*{
    box-sizing: border-box;
}

.add_medicine_wrapper{
    width: 80%;
    height: 100%;
    position: relative;
}

.add_medicine_bar{
    margin-top: 70px;
    height: calc(100% - 70px);
    overflow: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_wrap{
    border: 5px solid rgb(168, 7, 107);
    padding: 50px;
    border-radius: 10px;
    text-align: center;
}

.label_input_wrapper{
    margin: 20px;
}

.label_input_wrapper > label{
    display: inline-block;
    width: 150px;
}

.label_input_wrapper > input{
    width: 300px;
    outline: none;
    padding: 10px;
}

.label_input_wrapper > textarea{
    width: 300px;
}

.form_wrap > button{
    padding: 5px 10px;
    border: none;
    background-color: rgb(5, 86, 133);
    border-radius: 5px;
    color: rgb(245, 239, 245);
    font-size: 15px;
    font-weight: 700;
    outline: none;
}

.form_wrap > button:hover{
    background-color: rgb(4, 92, 83);
    cursor: pointer;
}