.signup_form_wrapper{
    display: flex;
    flex-direction: column;
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    align-items: center;
    border: 2px solid #ccc;
}

.signup_form_wrapper h2{
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 1px;
    color: rgba(11, 97, 3, 0.808);
}

.signup_form_wrapper input{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin: 10px 5px;
    outline: none;
}

.signup_form_wrapper button{
    width: max-content;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    background-color: rgba(11, 97, 3, 0.808);
    color: #fff;
    border-radius: 5px;
    outline: none;
}

.signup_form_wrapper button:hover{
    background-color: rgba(4, 95, 122, 0.623);
    cursor: pointer;
}